# BASIC XML TUTORIAL

This is comprehensible tutorial for dealing with XML that have severals nodes. Although it is better to retrieve
information by using recursion techniques. This notebook is purely a tutorial for those that those that are starting 
with python and Data Science. I will aslo recommend to read about Xml parsing before or while going through this file 
:)... Happy Pythonising

In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
try:  
    tree = ET.parse('books.xml')
    root = tree.getroot()
    
except IOError as e:
    print ('Error: '% e)

Now, please download the books.xml and look at it as you going through this notebook.

In [3]:
len(root)

12

In [4]:
# let's see wht I have got
print (root) #Oops nothing

<Element 'catalog' at 0x7ff94af403b0>

In [5]:
# try this 
print (root.attrib)

{}

In [6]:
# let's see the what we have in the root.
for child in root:
    print (child)
    
#As you can see we have many parents nodes all them called book

<Element 'book' at 0x7ff94af40470>
<Element 'book' at 0x7ff94af407d0>
<Element 'book' at 0x7ff94af40ad0>
<Element 'book' at 0x7ff94af40e30>
<Element 'book' at 0x7ff94af48170>
<Element 'book' at 0x7ff94af48470>
<Element 'book' at 0x7ff94af48770>
<Element 'book' at 0x7ff94af48ad0>
<Element 'book' at 0x7ff94af48e30>
<Element 'book' at 0x7ff94af4c170>
<Element 'book' at 0x7ff94af4c4d0>
<Element 'book' at 0x7ff94af4c7d0>

In [7]:
# sniffing the length of node 
len(root[0])

6

In [8]:
# these are a tags
#for i in root[0]:
    #print (root[0].tag)

In [9]:
# these are the attributes
#for i in root[0]:
    #print (root[0].attrib)

In [10]:
# let's sniff the structure
for i in root[0]:
    print ('tag =',i.tag, ', data=', i.text)

tag = author , data= Gambardella, Matthew
tag = title , data= XML Developer's Guide
tag = genre , data= Computer
tag = price , data= 44.95
tag = publish_date , data= 2000-10-01
tag = description , data= An in-depth look at creating applications
      with XML.

In [11]:
for i in root[1]:
    print ('tag =',i.tag, ', data=', i.text)

tag = author , data= Ralls, Kim
tag = title , data= Midnight Rain
tag = genre , data= Fantasy
tag = price , data= 5.95
tag = publish_date , data= 2000-12-16
tag = description , data= A former architect battles corporate zombies,
      an evil sorceress, and her own childhood to become queen
      of the world.

The parent nodes look the same. Just to be sure, I now want to see  if there all the nodes have exactly the same elements

In [12]:
tag_list=[]
for i in range(len(root)):
    for child in root[i]:
            print(child.tag)
            tag_list.append(child.tag)

author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description
author
title
genre
price
publish_date
description

it looks like they all have the same elements. now lets check if they have the same numbers of elements.

In [13]:
tag_count={i:tag_list.count(i) for i in tag_list}
print (tag_count)

{'author': 12, 'title': 12, 'genre': 12, 'price': 12, 'publish_date': 12, 'description': 12}

### Perfect!!

In [14]:
author=[]
title=[]
genre=[]
price=[]
publish_date=[]
description=[]


for i in range(len(root)):

    auth= root[i].find('author').text
    author.append(auth)
            
    tit= root[i].find('title').text
    title.append(tit)
            
    gen=root[i].find('genre').text
    genre.append(gen)
            
    pri=float(root[i].find('price').text)
    price.append(pri)
            
    publish=root[i].find('publish_date').text
    publish_date.append(publish)
            
    desc=root[i].find('description').text.strip()
    description.append(desc)
            

rows={'author':author,'title':title,'genre':genre,'price':price, 'publish_date':publish_date, 'description':description}

In [15]:
books=pd.DataFrame(rows)
books

,author,title,genre,price,publish_date,description
0,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."
5,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...
6,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...
7,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
8,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...
11,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

In [16]:
book_report=pd.DataFrame(books.groupby('genre').agg({'genre':'count', 
            'price':'mean'}).rename(columns={'price':'Avg_price', 'genre':'Qunatity'}))

In [17]:
book_report

                 Qunatity  Avg_price
genre
Computer                4      42.20
Fantasy                 4       5.95
Horror                  1       4.95
Romance                 2       4.95
Science Fiction         1       6.95